<h2><%= current_user.name %></h2>
<p>Email: <%= current_user.email %></p>
<p><%= link_to "Edit Profile", edit_user_registration_path %> or <%= link_to "Remove Your Account", edit_user_registration_path %></p>